body {
    background-color: white;
}

nav a{
    width: 100px;
    height: 100px;
    margin: 10px 10px;
}

header {
    background-color: black;
    color: white;
    padding: 30px;
}

li {
    text-decoration: none;
    display: inline-block;
    text-align: right;
    padding: auto;
    font-style: "Body";
    font-family: "Epilogue";
    font-style: "Regular";
    font-size: 17px;

    a {
        color: white;
        word-spacing: 25px;

    }
}

ul {
    float: right;
}

.container {
    margin: 5px;
    padding: 5px;
    align-items: center;

    h2{
        font-family: "Epilogue";
        font-style: "SemiBold";
        font-size: 28px;
    }
    

}

.flex {
    padding: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;

    p1 {
        font-family: "Epilogue";
        font-style: "SemiBold";
        font-size: 17.33327865600586px;
        line-height: 26px;
    }

    strong {
        font-family: "Epilogue", sans-serif;
        font-optical-sizing: auto;
        font-size: 60px;
        font-style: "SemiBold";
    }

    p2 {
        font-family: "Epilogue";
        font-style: "Regular";
        font-size: 14px;
    }

    button {
        border: white;
        line-height: 2.5px;
        padding: 20px;
        text-align: center;
        color: black;
        background-color: white;
        border-radius: 5px;
        height: 65px;
        width: 300px;

    }

    #a {
        text-decoration: none;
        color: black;
        font-family: "Epilogue";
        font-style: "SemiBold";
        font-size: 17px;
    }
}

.texte {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    text-align: center;
}

#card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    align-items: center;
    text-align: center;

   
}

.S1{
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        font-family: "Epilogue";
        font-style: "SemiBold";
        font-size: 24px;
    }

    p{
        font-family: "Epilogue";
        font-style: "Regular";
        font-size: 15px;
    }
}

.S1 img{
    height: 100px;
    width: 100px;
    align-items: center;
}

#logos{
    background-color: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card2{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0 50px;
    width: 1000px;
    margin: auto;
}

.S2{
    width: 250px;
    height: 500px;
    text-align: left;
    padding: 10px;
 
    display: flex;
    flex-direction: column;
    gap: 0px;

   img{
    width:250px;
    height: 250px;
    object-fit: cover;
   }

   h3{
    fill: black;
    font-family: "Epilogue";
    font-style: "SemiBold";
    font-size: 18px;
   }
}

.card-wrapper{
    display: flex;
    justify-content: center;

}

.Tem{
 
    background-color: rgb(234, 229, 229);
    margin: auto;
    width: 200px;
    height: 300px;
    padding: 20px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    img{
        height: 0px;
        width:0px;
        border-radius: 0px;
       
    }
 
}

#etoiles{
    display: center;
    flex-direction: row;
    align-items: right;
}

#footer{
    background-color: black;
    height: 400px;

    h3{
        color: white;
        text-align: center;
    }

    p{
        color: white;
    }

}

.phrase{
    text-align: left
}

.form{
    display: flex;
    justify-items: flex-end;
    flex-direction: row;
}